global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  chroot /var/lib/haproxy
  user haproxy
  group haproxy
  # daemon

defaults
  log global
  mode http
  retries 3
  option httplog
  option dontlognull
  option redispatch
  timeout connect 5000
  timeout client 10000
  timeout server 10000
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

frontend http
  bind *:80
  mode http
  default_backend app

backend app
  mode http
  balance roundrobin
  option forwardfor
  option httpchk GET /health
  http-check expect string fine
  server app1 $APP1_PORT_80_TCP_ADDR:$APP2_PORT_80_TCP_PORT check
  server app2 $APP2_PORT_80_TCP_ADDR:$APP2_PORT_80_TCP_PORT check

listen stats 0.0.0.0:81
  stats enable
  stats uri /
